/* styles.css */

body {
    background-image: url('/assets/titanic.jpg');
    background-size: cover; /* Dopasowanie tła do rozmiaru okna */
    background-position: center; /* Wyrównanie tła do środka */

}
.header {
    text-align: center;
    color: #333;
    font-size:48px}


.main-div {
    width: 80%;
    margin: 0 auto; /* centruje div na stronie */
    padding: 20px;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.component-div {
    margin-bottom: 40px; /* większa przerwa między komponentami */
}

.result-div {
    text-align: center;
    margin: 0 auto;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dodaje cień */
    background-color: rgba(255, 255, 255, 0.5); /* Półprzezroczyste białe tło */


}

.button-center {
    /* Twoje obecne style */
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin: 20px auto;
    display: inline-block;
    background-color: transparent;
    border: 2px solid black; /* Dodanie ramki */
    position: relative; /* Ustawienie pozycji na względną */
    left: 50%; /* Przesunięcie o 50% szerokości kontenera */
    transform: translateX(-50%); /* Przesunięcie w lewo o połowę swojej własnej szerokości */

    /* Dodanie efektu podświetlenia po najechaniu myszką */
    transition: background-color 0.3s ease; /* Płynne przejście */
}

.button-center:hover {
    background-color: rgba(175, 221, 255, 0.5); /* Lekko ciemniejsze tło po najechaniu */
}


.rc-slider-mark-text {
    color: #333; /* Ciemniejszy kolor czcionki */

}

.custom-slider .rc-slider-track {
    background-color: grey; /* Zmień kolor suwaka na czerwony */
}